HELP.md
Backend/.gradle
Backend/build/
Backend/!gradle/wrapper/gradle-wrapper.jar
Backend/!**/src/main/**/build/
Backend/!**/src/test/**/build/
Backend/env.properties

### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache
Backend/bin/
Backend/!**/src/main/**/bin/
Backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
